@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

.slide-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: auto;
}

.slide {
  scroll-snap-align: start;
  height: 100vh;
}
